.page{
  margin:0 auto;
  width: 1000px;
}

/*Hero*/

.overlay{
  position:absolute;
  height: 40%;
  top: 28%;
  width: 100%;
  background:#000000;
  opacity: .8;
}

.hero-container{
  position: relative;
  text-align: center;
  color: #fff;
  height: 100vh;
}

.hero-image{
  width: 100%;
  background-position: 10;

}
.hero-text {
font-size: 2em;
font-family: 'Amethysta', serif;
text-align: center;
line-height: 1.4em;
text-transform: uppercase;
letter-spacing: .3em;
white-space:nowrap;
}

.lead{
-webkit-text-fill-color: gray;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn{
background-color: rgb(187, 4, 4)!important;
outline-color: rgb(187, 4, 4) !important;
border: none;
align-items: center;

}

.btn:hover {
background-color:#f17014 !important;
border: none;
transition: 0.5s;
}
.btn:active{
background-color: #CC5500 !important;
border:none;
outline-color: #CC5500!important;
}

span {
color: #000;
font-family: 'Caesar Dressing', cursive;
font-size: 5em;
text-transform: lowercase;
vertical-align: middle;
letter-spacing: .2em;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;

}

.fire {
animation: animation 1s ease-in-out infinite alternate;
-moz-animation: animation 1s ease-in-out infinite alternate;
-webkit-animation: animation 1s ease-in-out infinite alternate;
-o-animation: animation 1s ease-in-out infinite alternate;
}


.burn {
animation: animation .65s ease-in-out infinite alternate;
-moz-animation: animation .65s ease-in-out infinite alternate;
-webkit-animation: animation .65s ease-in-out infinite alternate;
-o-animation: animation .65s ease-in-out infinite alternate;
}

@keyframes animation
{
0% {text-shadow: 0 0 20px #fefcc9,
10px -10px 30px #feec85,
-20px -20px 40px #ffae34,
20px -40px 50px #ec760c,
-20px -60px 60px #cd4606,
0 -80px 70px #973716,
10px -90px 80px #451b0e;}
100% {text-shadow: 0 0 20px #fefcc9,
10px -10px 30px #fefcc9,
-20px -20px 40px #feec85,
22px -42px 60px #ffae34,
-22px -58px 50px #ec760c,
0 -82px 80px #cd4606,
10px -90px 80px  #973716;}
}

@-moz-keyframes animation
{
0% {text-shadow: 0 0 20px #fefcc9,
10px -10px 30px #feec85,
-20px -20px 40px #ffae34,
20px -40px 50px #ec760c,
-20px -60px 60px #cd4606,
0 -80px 70px #973716,
10px -90px 80px #451b0e;}
100% {text-shadow: 0 0 20px #fefcc9,
10px -10px 30px #fefcc9,
-20px -20px 40px #feec85,
22px -42px 60px #ffae34,
-22px -58px 50px #ec760c,
0 -82px 80px #cd4606,
10px -90px 80px  #973716;}
}

@-webkit-keyframes animation
{
0% {text-shadow: 0 0 20px #fefcc9,
10px -10px 30px #feec85,
-20px -20px 40px #ffae34,
20px -40px 50px #ec760c,
-20px -60px 60px #cd4606,
0 -80px 70px #973716,
10px -90px 80px #451b0e;}
100% {text-shadow: 0 0 20px #fefcc9,
10px -10px 30px #fefcc9,
-20px -20px 40px #feec85,
22px -42px 60px #ffae34,
-22px -58px 50px #ec760c,
0 -82px 80px #cd4606,
10px -90px 80px  #973716;}
}

@-o-keyframes animation
{
0% {text-shadow: 0 0 20px #fefcc9,
10px -10px 30px #feec85,
-20px -20px 40px #ffae34,
20px -40px 50px #ec760c,
-20px -60px 60px #cd4606,
0 -80px 70px #973716,
10px -90px 80px #451b0e;}
100% {text-shadow: 0 0 20px #fefcc9,
10px -10px 30px #fefcc9,
-20px -20px 40px #feec85,
22px -42px 60px #ffae34,
-22px -58px 50px #ec760c,
0 -82px 80px #cd4606,
10px -90px 80px  #973716;}
}

/*Hero*/

/*navbar*/
nav ul li a:hover {
text-decoration: underline;
color: whitesmoke;
}

.nav-link{
font-family:'Amethysta', serif;
font-size: 20px;
}

.fa:hover {  
opacity: 0.9;  
}   

.bi {     
-webkit-text-fill-color: white;
}  

/* icon */ 
.nav.navbar-nav.navbar-right li {
float: right;
-me-flex-align: right;
}
.nav.navbar-nav.navbar-right li > a {
padding:8px 5px;
}

.titlecontainer{
  padding-left: 5%;
}

.headline{
    font-size: 3em;
    font-weight:700;
    text-align: left;
    font-family: 'Amethysta', serif;
    padding-top: 10%;
    
}  

.byline{
    font-size: 1em;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    padding-bottom: 2%;
}

.subhead{
    font-size: 1.8em;
    font-weight: 250;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-family:'Times New Roman', Times, serif;
    line-height: 180%;
    font-size: 20;
}

.img1{
    padding-bottom: 2%;
}

.caption{
    font-size: .8em;
    -webkit-text-fill-color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    padding-top: 1%;
}



.footer{
    border-width: 3px;
    border-style: solid;
    background-color: black;
    border-color: black;
    -webkit-text-fill-color: white;
    padding: 1em;
}



/* story*/
.wrap{
    width: 700px;
    margin: 100px auto;
    color: #000000;
    text-align: left;
    font-size: 2.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

  .media{
    text-align: center;
    padding-block: 2.5%;

  }


	div.demo{width: 100vh;text-align: center; 50%;transform:translateY(-50%);left: 0;right: 0;margin: auto;position: absolute; display:inline;}
	.main{float: center;width: 100%;height: 100%;background-color: #ccc;}
	.demo ul li {display: inline-block;vertical-align: middle;font-size: 80px;letter-spacing: 10px; word-break: transition: all linear 0.3s;animation: smoke 6s  infinite;}
	.demo ul li:first-child{animation-delay: 3s; }
	.demo ul li:nth-child(2){animation-delay: 3.5s; }
	.demo ul li:nth-child(3){animation-delay: 4s; }
	.demo ul li:nth-child(4){animation-delay: 4.5s; }
	.demo ul li:nth-child(5){animation-delay: 5s; }
    .demo ul li:nth-child(6){animation-delay: 5.5s; }
    .demo ul li:nth-child(7){animation-delay: 6s; }
    .demo ul li:nth-child(8){animation-delay: 6.5s; }
    .demo ul li:nth-child(9){animation-delay: 7s; }
    .demo ul li:nth-child(10){animation-delay: 7.5s; }
    .demo ul li:nth-child(11){animation-delay: 8s; }
    .demo ul li:nth-child(12){animation-delay: 8.5s; }
    

/* animation css */

	@keyframes smoke{
		0%{transform: rotate(0deg) translateY(0px);opacity: 1; filter: blur(0px);}
		100%{transform: rotate(45deg) translateY(-200px);opacity: 0; filter: blur(20px);}
	}