h1{
    padding-top: 5%;
    -webkit-text-fill-color: #87BCB8;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 100%;
 }

p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    
}

#img1{
    padding-inline: 5%;
    float: left;
    margin: 0 15px 0 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #87BCB8;
}

