body{
    background-color:black;
    -webkit-text-fill-color: white;
}

#content {
    margin:0 auto;
    width: 900px;
}

h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#byline{
    font-size: 20;
    font-family:'Times New Roman', Times, serif;
}

#caption{
    font-size: 12;
    font-family:'Times New Roman', Times, serif;
}

p{
    font-family:'Times New Roman', Times, serif;
}